* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box
}

body {
    align-items: center;
    background-color: mediumseagreen;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.container {
    position: relative;
}

.container kbd {
    display: flex;
    justify-content: center;
    align-items: end;
    border: 2px solid grey;
    font: 24px bolder;
    padding-bottom: 20px;
    user-select: none;
    width: 75px;
}

.black-keys {
    left: calc(75px / 2);
    position: absolute;
    display: flex;
}

.black-keys kbd#T {
    margin-left: 75px;
}

.white-keys {
    display: flex;
}

.black-keys kbd {
    background-color: black;
    color: white;
    height: 200px;
}

.white-keys kbd {
    background-color: white;
    height: 300px;
}

